<p>
  <b>Basic type:</b>
  <% group_id = @organism.group_id %>
  <%= Group.find_by_id(group_id).title %>
</p>

<p>
  <b>Common name:</b>
  <%= @organism.common_name %>
</p>

<p>
  <b>Binominal name:</b>
  <%= @organism.binominal_name %>
</p>

<p>
  <b>Family name:</b>
  <%= @organism.family %>
</p>

<p>
  <b>Wikipedia:</b>
	<%= (link_to "#{@organism.wikipedia_entry}", "http://en.wikipedia.org/wiki/#{@organism.wikipedia_entry}") %>

</p>

<p>
  <b>Image:</b>
  <%= @organism.image_id %>
</p>

<%= link_to 'Edit', edit_organism_path(@organism) %> |
<%= link_to 'Back', organisms_path %>
