<p id="notice"><%= notice %></p>
<p>
  <b>ID:</b>
  <%= @organism.id %>
</p>

<p>
  <b>Name:</b>
  <%= @organism.common_name %>
</p>

<p>
  <b>Binominal Name:</b>
  <%= @organism.binominal_name %>
</p>

<p>
  <b>Family:</b>
  <%= @organism.family %>
</p>

<p>
  <b>Wikipedia:</b>
	<%= (link_to "#{@organism.wikipedia_entry}", "http://en.wikipedia.org/wiki/#{@organism.wikipedia_entry}") %>

</p>

<p>
  <b>Image:</b>
  <%= @organism.image_id %>
</p>

<%= link_to 'Edit', edit_organism_path(@organism) %> |
<%= link_to 'Back', organisms_path %>
