<p id="notice">Text fields with an asterisk (<font color="red">*</font>) need to be filled in.</p>

<p id="notice">Choose a Nickname to identify the Sightings you contribute to Ecoweb.</p>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :nickname %><font color="red">*</font><br />
    <%= f.text_field :avatar %>
  </div>
  <div class="field">
    <%= f.label "Email address" %><font color="red">*</font><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><font color="red">*</font><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label "Confirm password" %><font color="red">*</font><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign up'%>
  </div>
<% end %>
